<% include partials/header %>

<body>
<div>
<div id="totalScore" >
    <% if (isNaN(game.score())) { %>
    <h1 class="play">Score Pending</h1>
    <% } else { %>
    <h1 class="play">Total score:<span style="color: #cd0a0a; font-size: 50"> <%= game.score() %> </span></h1>
    <% } %>
</div>

<div id="currentFrame" class="play">
    <% if (game.currentFrame > 12) { %>
    <h2 class="play">Game has ended!</h2>
    <%} else if (game.currentFrame > 10) { %>
    <h2 class="play">Current frame: Bonus frame </h2>
    <% } else { %>
    <h2 class="play">Current frame: <%= game.currentFrame %> </h2>
    <% } %>
</div>

<% if (game.currentFrame < 13) { %>
<div id="lastRoll" class="play">
    <h3 class="play">Last roll: <%= game.lastRoll %></h3>
</div>
<% } %>

<% if (game.currentFrame < 13) { %>
<div id="remainingPins"  class="play">
    <h3 class="play">Remaining pins: <%= game.pinsLeft %></h3>
</div>
<% } %>

<div id="addedFrames" class="play frames">
    <h3 class="play"> Frames: <span style="font-size: 50">
        <% result = 0 %>
        <% game.frames.forEach(function(frame, i) { %>
            <% if (isNaN(frame)) { %>
                <% frame = '...'%>
                <%= frame %><% if (i !== game.frames.length-1) { %>, <% } %>
            <% } else { %>
                <% result += frame %>
                <% if (i < 10) { %>
                    <%= result %><% if (i !== game.frames.length-1 && i < 9) { %>,
                                <% } %>
                <% } %>
            <% } %>
        <% }) %>
        </span>
    </h3>
</div>

<br>
<% if (!(game.currentFrame >= 13)) { %>
<form method="POST" action="/play">
    <% for(i = 0; i <= 10; i++) { %>
    <% if (i <= game.pinsLeft) { %>
    <button class="btn bowling-button" type="submit" name="action" value="<%= i %>"> -<%= i %>- </button>
    <% } %>
    <% } %>
</form>
<% } %>

<br>
<br>
<br>
<br>

<form method="POST" action="/start">
    <button class="btn home-button bowling-button" type="submit" name="action" value="restart"><span>Restart game</span></button>
</form>

<form method="POST" action="/home">
    <button class="btn home-button bowling-button" type="submit" name="action" value="home"><span>Home</span></button>
</form>
</div>
</body>


<% include partials/footer %>
