<% include partials/header %>

<body>

<div id="totalScore" class="display-1">
    <% if (isNaN(game.score())) { %>
    <h3>Minimum score: <%= game.framesTotal() %> </h3>
    <% } else { %>
    <h3>Total score: <%= game.score() %> </h3>
    <% } %>
</div>

<div id="lastRoll">
    <h3>Last roll: <%= game.lastRoll %></h3>
</div>

<div id="currentFrame">
    <h3>Current frame: <%= game.currentFrame %></h3>
</div>

<div id="remainingPins">
    <h3>Remaining pins: <%= game.pinsLeft %></h3>
</div>

<div id="frames">
    <h3> Frames:
    <% game.frames.forEach(function(frame) { %>
        <% if (isNaN(frame)) { %>
            <% frame = '...'%>
        <% } %>
        <%= frame %>,
    <% }) %>
    </h3>
</div>

<div id="addedFrames">
    <h3> Added rames:
        <% game.frames.forEach(function(frame) { %>
        <% if (isNaN(frame)) { %>
        <% frame = '...'%>
        <% } %>
        <%= frame %>,
        <% }) %>
    </h3>
</div>

<form method="POST" action="/play">
    <% for(i = 0; i <= 10; i++) { %>
    <button type="submit" name="action" value="<%= i %>"><%= i %></button>
    <% } %>
</form>

<form method="POST" action="/start">
    <button type="submit" name="action" value="restart">Restart game</button>
</form>



</body>

<% include partials/footer %>
